<title>User Profile</title>

<div class="container">
  <header><img src="//i1.trekearth.com/photos/31872/dhaulagiri1.jpg" width="300" height=200 class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
  
    
    <h2><%= current_user.username %><h2>
    <p>Your Ascents:</p>
    <% @ascents.each.with_index(1) do |ascent, i| %>
        <%= "#{i}" %>. 
        <%= ascent.route %>, 
        <%= ascent.datetime %>, 
        <%= ascent.peak.name %> - 
        <a href="/ascents/<%=ascent.id%>/edit">Edit</a> - <form method="post" action="/ascents/<%= ascent.id %>"><input id="hidden" type="hidden" name="_method" value="DELETE"><input type="submit" value="Delete"></form>
    <% end %>
   
    <p>Add an Ascent from the Peak Post Database: </p>
    <p><form action="/ascents/new">
        <input type="submit" value="Add an Ascent">
    </form></p>

    <p>Add a New Peak to the PeakPost Database:</p>
    <p><form action="/peaks/new">
        <input type="submit" value="Add a Peak">
    </form></p>

    
    
    <a href="/">Home</a>
    <p><form action="/logout" method="Post">		
      <input type="submit" value="Logout">	
    </form></p>