
<title>Peak Post</title>
  <div class="container" style="float: left">
  <header><img src="https://cdn.britannica.com/17/83817-050-67C814CD/Mount-Everest.jpg" width="300" height=200 class="img-responsive main-image">
  
  <div style="float: right"> <h2 align="justify">Peak Post</h2>
  <p> THis is a description text. </p>
  </header>
  <div class="col-md-10 col-md-offset-2">

    <h2><% if !logged_in? %>  
          <a href="/signup">Sign Up</a> or
          <a href="/login">Login</a> to Record your Ascents.
      <% else %>
        Logged in as <%= current_user.username %>
        <p><form action="/logout" method="Post">		
        <input type="submit" value="Logout">	
        </form></p>
      <% end %></h2>

    <div class="wrapper">
    <header class="header__title">

    <p><% @peaks.each.with_index(1) do |peak, i| %>
        <%= "#{i}" %>. 
        <%= peak.name %>, 
        <%= peak.location %>, 
        <%= peak.elevation %>.</p>
    <% end %>

    <% if logged_in? %>
      <p><a href="/newpeak">Add Peak</a></p>
      <p><a href="/user_profile">View Your Ascents</a></p>
    <% end %>
      
      </div>
  </div>
</div>
